* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #020631;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  color: white;
}

/* Input Section */
.tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks .inputDiv {
  width: 22.5em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  margin-top: 0.8em;
  border-radius: 6px;
  background-color: rgb(196, 215, 231);
}

.tasks .inputDiv i {
  margin: 0 10px;
}

.tasks .inputDiv input {
  width: 100%;
  height: 2.5em;
  border: none;
  outline: none;
  background-color: rgb(196, 215, 231);
}

.tasks i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: rgb(73, 73, 73);
  margin-right: 5px;
  transition: .25s;
}

.tasks i:hover {
  transform: rotate(270deg);
}

.fa-pen {
  cursor: auto !important;
}

select {
  width: 6rem;
  height: 1.5rem;
  border-radius: 7.50px;
  outline: none;
  border: none;
}

/* ToDos Section */
.todos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.concentrate,
.delegate,
.schedule,
.ignorable {
  width: 25%;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 25px 5px;
  padding: 15px 0;
  border-radius: 10px;
  background-color: #030416;
}

.concentrate:hover .typeHeading {
  letter-spacing: 2.5px;
}

.delegate:hover .typeHeading {
  letter-spacing: 2.5px;
}

.schedule:hover .typeHeading {
  letter-spacing: 2.5px;
}

.ignorable:hover .typeHeading {
  letter-spacing: 2.5px;
}

.typeHeading {
  font-weight: bold;
  font-size: large;
  color: #a0a0af;
  transition: .5s ease-in-out;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0.8em;
  width: 20em;
  height: 2.75em;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 5px;
  transition: .5s ease-in-out;
}

.todo input {
  margin: 0 10px;
  transition: .35s ease-in-out;
  scale: 1.2;
}

.todo input:hover {
  scale: 2;
  transform: rotate(360deg);
}

.todo p {
  margin: 0 3px;
  margin-right: auto;
  font-size: medium;
  font-style: normal;
  font-weight: 700;
  color: rgb(78, 78, 78);
}

.todo p s {
  color: rgb(53, 53, 53);
}

.todo.fade {
  transform: translateX(-100px);
}

/* Dropped Section */
.dropped {
  width: 22.5em;
  min-height: 12.5rem;
  margin-top: 3rem;
  padding: 10px;
  border-radius: 10px;
  background-color: #030416;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.dropped .items {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0.8em;
  width: 100%;
  height: 2.75em;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 5px;
}

.items i {
  font-size: larger;
  font-weight: 900;
  margin: 0 5px;
  transition: .25s;
}

.items .fa-times:hover {
  transform: rotate(270deg);
  cursor: pointer;
}