* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #020631;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3.5rem;
  color: white;
}

/* Input Section */
.app .inputDiv {
  width: 20em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  margin-top: 0.8em;
  border-radius: 6px;
  background-color: rgb(196, 215, 231);
}

.app .inputDiv i {
  margin: 0 10px;
}

.app .inputDiv input {
  width: 100%;
  height: 1.6em;
  border: none;
  outline: none;
  background-color: rgb(196, 215, 231);
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
  transition: .25s;
}

.app i:hover {
  transform: rotate(270deg);
}

.fa-pen {
  cursor: auto !important;
}

/* ToDos Section */
.app .todos {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 5px;
}

.app .todos input {
  margin: 0 10px;
  transition: .35s ease-in-out;
  scale: 1.2;
}

.app .todos input:hover {
  scale: 2;
  transform: rotate(360deg);
}

.app .todos p {
  margin: 0 3px;
  margin-right: auto;
  font-size: medium;
  font-style: normal;
  font-weight: 700;
  color: grey;
}