* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #020631;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem 0;
  color: white;
}

.app .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Input Section */
.app .inputDiv {
  width: 22.5em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  margin-top: 0.8em;
  border-radius: 6px;
  background-color: rgb(196, 215, 231);
  transition: .25s ease-in-out;
}

.app .inputDiv:hover {
  scale: 1.1;
}

.app .inputDiv i {
  margin: 0 10px;
}

.app .inputDiv input {
  width: 100%;
  height: 2.5em;
  border: none;
  outline: none;
  background-color: rgb(196, 215, 231);
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: rgb(73, 73, 73);
  margin-right: 5px;
  transition: .25s;
}

.app i:hover {
  transform: rotate(270deg);
}

.fa-pen {
  cursor: auto !important;
}

select {
  width: 6rem;
  height: 1.5rem;
  border-radius: 7.50px;
  outline: none;
  border: none;
}

/* ToDos Section */
.todos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.concentrate,
.delegate,
.schedule,
.ignorable {
  width: 24%;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 25px 5px;
  padding: 15px 0;
  border-radius: 5px;
  background-color: #9696b4;
}

.typeHeading {
  font-weight: bold;
  font-size: large;
  color: #030416;
  transition: .5s ease-in-out;
}

.concentrate:hover .typeHeading {
  letter-spacing: 1px;
  color: white;

}

.delegate:hover .typeHeading {
  letter-spacing: 1px;
  color: white;

}

.schedule:hover .typeHeading {
  letter-spacing: 1px;
  color: white;
}

.ignorable:hover .typeHeading {
  letter-spacing: 1px;
  color: white;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0.8em;
  width: 90%;
  height: 2.5em;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 5px;
  transition: .5s ease-in-out;
}

.todo input {
  margin: 0 10px;
  transition: .35s ease-in-out;
  scale: 1.2;
}

.todo input:hover {
  scale: 2;
  transform: rotate(360deg);
}

.todo p {
  margin: 0 3px;
  margin-right: auto;
  font-size: medium;
  font-style: normal;
  font-weight: 700;
  color: rgb(78, 78, 78);
}

.todo p s {
  color: rgb(53, 53, 53);
}

.todo.fade {
  transform: rotateX(90deg) scale(.75);
}

/* Quote Section */
.quote {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* MEDIA QUERIES*/
@media(max-width:767px) {
  .app .inputDiv {
    width: 20em;
    height: 3em;
  }

  .todos {
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .concentrate,
  .delegate,
  .schedule,
  .ignorable {
    width: 90%;
    min-height: 20rem;
    margin: 15px 0;
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .app .inputDiv {
    width: 25em;
    margin-top: 2em;
  }

  .todos {
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .concentrate,
  .delegate,
  .schedule,
  .ignorable {
    width: 45%;
    min-height: 25rem;
    margin: 10px;
  }
}